* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: #222;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}