/* Reset CSS */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Nunito", Helvetica, Arial, sans-serif;
    color: #222;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

/* Superinfo estilos */
.superinfo-bg {
    background: #122ab2;   
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 10px;  
}

.superinfo a,
.superinfo p {
    color: #fff;
    margin: 0 10px 10px 10px;
}

/* Navegação - Estilos */